#container {
  height: 400px;
  width: 400px;
  text-align: center;
  line-height: 200px;
  display: inline-block;
}
div {
  }
.chair {
  position: absolute;
}
span {
  vertical-align: middle;
}
.nav {
  background-color: black;
}

.side {
  width: 400px;
  display: inline-block;
  box-sizing:border-box;
  background-color: black;
  float: right;
  height: 400px;
}

.bottom {
  background-color: #F1F1F1;
  display: inline-block;
  float: right;
}

.directions {
  color: white;
}

.button {
  float:left;
  float: bottom;
}
p {
  margin: 2em;
}
h1 {
  color: white;
  margin: .2em;
  font-family: 'Texta', 'AvenirNext-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
}

.winner {
  -webkit-animation-name: chosen;
  -webkit-animation-duration: 4s;
  animation-name: chosen;
  animation-duration: 4s;
}

@-webkit-keyframes chosen {
    0%   {
      -webkit-transform: rotate(0deg);
      -webkit-animation-timing-function: ease-out;
    }

    25%  {
      -webkit-transform: rotate(360deg);
      -webkit-animation-timing-function: ease-out;
    }
    50%  {
      -webkit-transform: rotate(720deg);
      -webkit-animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: rotate(1080deg);
      -webkit-animation-timing-function: ease-out;
    }
}

/* Standard syntax */
@keyframes chosen {
    0%   {
      -webkit-transform: rotate(0deg);
      -webkit-animation-timing-function: ease-out;
    }

    25%  {
      -webkit-transform: rotate(360deg);
      -webkit-animation-timing-function: ease-out;
    }
    50%  {
      -webkit-transform: rotate(720deg);
      -webkit-animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: rotate(1080deg);
      -webkit-animation-timing-function: ease-out;
    }
}

@media screen and (max-width: 800px) {
  .side: {
    display: inline;
    width: 100%;
  }
  .bottom {
    width: 100%;
  }
}